body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* MAIN GRID */
.dashboard {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  padding: 20px;
}

/* LEFT */
.left-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* RIGHT */
.right-panel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.profile{
  background: #1e293b;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.profile img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.repo {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.repo div {
  background: #334155;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}