body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* MAIN GRID */
.dashboard {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  padding: 20px;
}

/* LEFT */
.left-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* RIGHT */
.right-panel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.profile{
  background: #1e293b;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.profile img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.repo {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.repo div {
  background: #334155;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* language view stylling */
.language-header{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 5px;
}
.lang-bar {
  width: 100%;
  height: 8px;             
  background: #334155;
  border-radius: 10px;
  overflow: hidden;
}
.lang-fill {
  height: 100%;
  border-radius: 10px;
  transition: width 0.5s ease;
}

#heatmap {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  gap: 5px;
  margin-top: 10px;
}

.cell {
  width: 20px;
  height: 20px;
  background: #1e293b;
  border-radius: 3px;
}