body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
}

/* header elements */

.header {
    width: 100% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #1e293b;
    color: #fff;

}
.nav{
    display: flex;
    gap:20px;
}

.links {
    display: flex;
    gap: 20px;
    text-decoration: none ;
}

.button {
    padding: 10px 20px;
    background-color: rgb(189, 116, 22);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ......... */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    
    padding: 20px;
    display: flex;
}